.u-section-1 .u-sheet-1 {
  min-height: 513px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 389px auto 0 85px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 178px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-2 {
    margin-left: 112px;
  }
}