.u-section-1 .u-sheet-1 {
  min-height: 467px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 407px;
  margin: 30px -283px 30px 283px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}