.u-section-1 .u-sheet-1 {
  min-height: 468px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 408px;
  margin: 0 -347px 60px 347px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}